body {
    background-color: lightcyan;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: darkslategrey;
}

.image-gallery {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.image-gallery li {
    display: inline-block;
    width: 32%;
    opacity: 0.6;
}

.image-gallery li:hover {
    opacity: 1;
}

.image-gallery li img {
    width: 100%;
    height: auto;
}